.form {
    margin: 10px 0;
}

.form__input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    outline: none;
    border-radius: 25px;
    padding-left: 20px;
    color: #fff;
    background-color: #5A4F9D;
}

.form__input::placeholder{
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
}